.main {
    min-width: 160px;
    max-width: 640px;
}

textarea::-webkit-scrollbar {
    width: 0px;
}

.count {
    border-right: 2px solid black;
    opacity: 50%;
}

.text-limit {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Sesuaikan dengan lebar yang diinginkan */
}
